/*
	author: djeudjam verane
	date: 02/06/2013
	time: 6 am
*/

	/*---------- les generalites de la page -----------*/
body{
	padding: 0;
	margin:0;
	/*min-width: 900px;*/
	color: #272A2A;
	background-color: #FFFFFF;
	background-image: url('../images/Bottom_texture.jpg');
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: top left;
	}

blockquote:before, blockquote:after {
    content: "";
    content: none; }
	
body:before {
content: "";
position: fixed;
/*top: -10px;*/
left: 0;
/*width: 100%;
height: 10px;*/
-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
-moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
box-shadow: 0px 0px 10px rgba(0,0,0,.8);
z-index: 100;
	}
	
#page-container{
   font-family: Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   text-align: justify;
   position: relative;
   /*z-index: 0;*/
   width: 100%;
   min-height: 100%;
   left: 0;
   top: 0;
   cursor:default;
   overflow:hidden;
	}	
	
.cleared{
	display:block;
	clear: both;
	float: none;
	margin: 0;
	padding: 0;
	border: none;
	font-size: 0;
	height:0;
	overflow:hidden;
	}
	
.clear-reset{
	overflow:hidden;
	display:table;
	}
	
	/* ------------la banniere --------------*/

h3, p, a{
   margin: 0;
   padding: 0;
	}
	

	
#page-header{
	margin: 0 auto;
	position: relative;
	/*z-index: -5;*/
	width:1300px;
	height: 125px;
	margin-top: 0;
	margin-bottom: 0;
	/*border: 1px solid black;*/
	background-image: url('../images/header.jpg');
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: top left;
	}	
		
#page-header-inner{
	position: relative;
	margin: 0;
	}	
#time_txt{
	border-radius: 5px 5px 5px 5px ;
	margin-bottom: 2px;
	margin-left: 190px;
	font-size: 1.9em;
	text-shadow: 1px 1px 1px brown;
	}
	
#logo-name{
	/*padding-top: -40px;*/
	display: block;
	text-align: center;
	font-family: Georgia, "Times New Roman", Times, Serif;
	font-weight: normal;
	font-size: 60px;
	text-decoration: none;
	padding-top: 5px;
	margin: 0;
	color: #913646 !important;
	}

#logo-text{
	display: block;
	text-align: center;
	font-weight: normal;
	font-size: 13px;
	padding: 0;
	margin: 0;
	color: #10314C !important;
	}
	
	/* ------------ le menu ----------------*/
	
#menubar{
	/*background-image: url('../images/nav.jpg');*/
	float: right;
	margin-bottom: 2px;
	padding: 0;
	display: inline-block;
	width: 900px;
	background-color: purple;
	/*text-align: right;*/
	border-radius: 5px 5px 5px 5px ;
	height: 30px;
	margin-top: 0px;
	}

#menubar-inner{
	padding-left: 200px;
	width: 900px;
	}
	
#menubar ul{
	margin: 0;
	padding: 0;
	/*list-style-type: none;*/
	/*line-height: 30px;
	*/}

#menubar li{
	/*background-image: url('../images/nav.jpg') no repeat;*/
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	display: center;
	position: relative;
	}

#menubar ul li a {
	text-align: center;
	text-decoration: none;
	height: 30px;
	width: 140px;
	display: block;
	color: white;
	font-size: 15px;
	text-shadow: 1px 1px 1px brown;
	}
	
#menubar ul ul{
	position: absolute;
	visibility: hidden;
	background-color: grey;
	border-radius: 5px 5px 5px 5px;
	/*top: 32px;*/
	}
	
#menubar ul li:hover ul{
	visibility: visible;
	}
	
/*#menubar li:hover{            
	background: blue;
	}*/
	
#menubar ul li:hover ul li a:hover{
	background:#cccccc;
	color:silver;
	}

#menubar a:hover, form a:hover{
	color: #181818;
 	text-decoration: none;
	}
	
.selected{
	font-size: bold;
	/*text-shadow: 1px 1px 1px brown;*/
	}

	/* ------------ la page ---------------*/
	
#page-sheet{	   /*verifyer*/
	margin:0 auto;
	background-image: url('../images/bottom-texture1.jpg');
	position:relative;
	max-width:900px;
	margin-top: 0;
	margin-bottom: -3px;
	cursor:auto;
	/*border-collapse: collapse;*/
	min-width: 28px;
	min-height: 28px;
	/*border: 1px solid black;*/
	clear:both;
	}

#page-sheet-ribbon{
	font: bold 15px Sans-Serif;
	color: #333;
	text-align: center;
	text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
	/*-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);*/
	position: relative;
	/*padding: 7px 0;*/
	/*left: -5px;*/
	/*top: 15px;*/
	/*width: 120px;*/
	background-color: #BFDC7A;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A),
	to(#8EBF45));
	background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
	background-image: -moz-linear-gradient(top, #BFDC7A, #8EBF45);
	background-image: -ms-linear-gradient(top, #BFDC7A, #8EBF45);
	background-image: -o-linear-gradient(top, #BFDC7A, #8EBF45);
	color: #6a6340;			/*la color de texte*/
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	overflow: hidden;
	position: absolute;
	top: -3px;
	right: -3px;
	background: white;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	position: relative;
	/*z-index: 90;*/
}

#page-sheet-ribbon:after, #page-sheet-ribbon:after{
	content: "";
	border-top: 3px solid #6e8900;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	position:absolute;
	bottom: -3px;
	}
	
#page-sheet-ribbon:after{
	right: 0;
	}

#page-sheet-ribbon:before{
	left:0;
	}
	
#left-navigation-inner{
	width: 170px;
	float: left;
	}
	
#login-form{
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #B7bcbd;
	padding: 5px;
	height: 200px;
	}

#login-form-inner form p{
	margin-top: 10px;
	margin-bottom: 10px;
	}
#left-middle-nav{
	border:1px solid #B7BDBC; 
	border-radius: 5px 5px 5px 5px;
	margin-top: 10px;
	width: 180px;
	}
	
#nav-down{
	width: 160px; 
	padding:10px; 
	border:1px solid #B7BCBD;
	border-radius: 5px 5px 5px 5px;
	margin-top: 10px;
	text-align: center;
	}
	
#article-content-row-1{
	/*text-align: right;*/
	display: table-row;
	border-collapse: collapse;
	table-layout: fixed;	/*verify d'autres valeurs*/
	/*clear: both;*/ 
	}
	
#article-block-2{
	float: left; 
	padding-top: 5px;
	margin-top: 5px;
	margin-left: 3px;
	margin-right: 9px; 
	border: 1px solid #B7BCBD; 
	width: 220px; 
	height: 250px;
	text-align: center;
	border-radius: 5px 5px 5px 5px;
	}
		
#article-block-4{
	background-color: purple;
	text-align: center;
	padding-top: 5px;
	margin-top: 5px;
	margin-left: 9px; 
	float: left; 
	border: 1px solid #B7BCBD; 
	width: 220px; 
	height: 250px;
	border-radius: 5px 5px 5px 5px;
	}
	